@import 'functions';
@import 'variables';

body {
  background-color: $white;
}

button {
  border: 0;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
