<!DOCTYPE html>
<html>
  <head>
    <title>React GraphQL Apollo App</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="/js/bundle.js"></script>
</html>
